################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/packages
/src/UmbraVerse/bin/Debug
/src/UmbraVerse/obj
/src/UmbraVerse/bin/Release
/src/Umbraco.Community.UmbraVerse/bin/Debug
/src/Umbraco.Community.UmbraVerse/obj
/src/UmbraVerse.Site/App_Plugins/Umbraco.Community.UmbraVerse
